.toggleSwitch {
  position: relative !important;
  display: inline-block !important;
  width: 48px !important;
  height: 26px !important;
}

.toggleSwitch input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.toggleSlider {
  position: absolute !important;
  cursor: pointer !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #ccc !important;
  transition: 0.3s !important;
  border-radius: 26px !important;
}

.toggleSlider:before {
  position: absolute !important;
  content: "" !important;
  height: 20px !important;
  width: 20px !important;
  left: 3px !important;
  bottom: 3px !important;
  background-color: white !important;
  transition: 0.3s !important;
  border-radius: 50% !important;
}

.toggleSwitch input:checked + .toggleSlider {
  background-color: #9527F5 !important;
}

.toggleSwitch input:checked + .toggleSlider:before {
  transform: translateX(22px) !important;
}

.toggleSwitch input:disabled + .toggleSlider {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

