.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 26px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.toggleSwitch input:checked + .toggleSlider {
  background-color: #9527F5;
}

.toggleSwitch input:checked + .toggleSlider:before {
  transform: translateX(22px);
}

.toggleSwitch input:disabled + .toggleSlider {
  opacity: 0.5;
  cursor: not-allowed;
}

