:root {
  --very-light-purple: #E9D5FF;
  --medium-purple: #BF7EFA;
  --purple: #9527F5;
  --darker-purple: #8607f5;
  --light-green: #D1FAE5;
  --medium-green: #34D399;
  --green: #10B981;
  --light-red: #FEE2E2;
  --medium-red: #F87171;
  --red: #EF4444;
}

