.container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.small {
  width: 24px !important;
  height: 24px !important;
}

.medium {
  width: 40px !important;
  height: 40px !important;
}

.large {
  width: 60px !important;
  height: 60px !important;
}

